# Ignorar arquivo de variáveis de ambientes
.env

# Ignorar arquivos de configuração do editor
.vscode/
.idea/

# Ignorar arquivos de teste
test/

# Ignorar apenas arquivos .zip dentro do diretório data e seus subdiretórios
data/**/*.zip


# Ignorar arquivos de cache
core/__pycache__/*

# Ignorar arquivos venv Python
agente_csv/*

# Ignorar arquivos de log
logs/*
